body{
    padding: 0;
}

ul{
    text-decoration: none;
    list-style: none;
}

a{
    text-decoration: none;
}

.container_nombre{
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    
}

.nombre_pokemon{
    background:#4ac720;
    font-weight:bold; 
    padding:15px; 
    border:3px solid #1e800d; 
    text-align:center; 
    font-size:22px;
    border-radius:10px
}